/*
Theme Name: Simone
Layout: Sidebar left
*/

.site-content {
    /*padding-bottom: 4em;*/
}

.single .site-content,
.page .site-content { 
    background: #fff; 
    background: hsl(0, 0%, 100%);
}

.site-content .widget-area {
    float: left;
    width: 380px;
    padding: 4rem;
    background: #fff;
    background: hsl(0, 0%, 100%);
}

.site-footer {
    width: 100%;
    clear: both;
}

.entry-header,
.page-header,
.entry-content,
.entry-footer,
.tag-links,
.post-navigation,
.comments-area,
.paging-navigation {
    position: relative;
    max-width: 780px;
    max-width: 78rem;
    padding: 0 4rem;
    margin: 0 auto;
}

@media screen and (max-width: 399px) {
    .entry-header,
    .page-header,
    .entry-content,
    .entry-footer,
    .tag-links,
    .post-navigation,
    .comments-area,
    .paging-navigation { padding: 0 2rem; }
}



.page-header,
.paging-navigation {
    padding-top: 1em;
    padding-bottom: 1em;
    margin-bottom: 2em;
    list-style-type: none;
    background: #fff;
}

.page-header {
    margin-top: 1em;
    margin-bottom: 1em;
}

.index-box,
.author-index {
    max-width: 780px;
    max-width: 78rem;
    padding: 1em 0 2em;
    margin: 0 auto 2em;
    background: #fff;
    background: hsl(0, 0%, 100%);
}


@media screen and (min-width: 1160px) and (max-width: 1556px) {
    
    .index-box,
    .entry-header,
    .page-header,
    .entry-content,
    .entry-footer,
    .tag-links,
    .post-navigation,
    .comments-area,
    .paging-navigation,
    .author-index { 
        margin-right: auto; 
        margin-left: 0;
    }

}

.entry-header,
.page-header,
.entry-content,
.entry-footer,
.tag-links,
.post-navigation,
.comments-area,
.paging-navigation { margin-bottom: 0; }

@media screen and (min-width: 1440px) and (max-width: 1820px) {
    .front-index-thumbnail { margin-bottom: 0; }
    
    .front-index-thumbnail .image-shifter { margin-bottom: -3.2em; }
    
    .index-box { margin-top: 0; }
}

@media screen and (min-width: 1557px) {
    .index-box,
    .author-index {
        margin: 0 auto 2em auto;
    }
}

@media screen and (min-width: 1160px) {
    .content-area {
        float: right;
        width: 100%;
        margin-left: -380px;
        padding-left: 380px;
    }
}

@media screen and (min-width: 1557px) {
    .content-area {
        margin-left: 0;
        padding-left: 0;
    }

    .site-content .widget-area {
        position: absolute;
        left: 0;
    }   
}

@media screen and (max-width: 1159px) {  
    .site-content .widget-area {
        float: none;
        width: auto;
        max-width: 780px;
        margin: 1em auto 0;
    }
}


@media screen and (min-width: 1820px) {
    .image-shifter {
        float: none;
        width: 1060px;
        margin: 0 auto;
    }
}


@media screen and (max-width: 1556px) {
    .single-post-thumbnail img,
    .front-index-thumbnail img {
        margin: 0 auto 0 0;
    }
}

@media screen and (min-width: 1557px) and (max-width: 1820px) {
    .single-post-thumbnail img,
    .front-index-thumbnail img {
        margin: 0 auto 0 380px;
    }
}

@media screen and (min-width: 1160px) and (max-width: 1740px) {
    .single .entry-meta {
        position: relative;
        width: 100%;
        margin: 0 0 2rem 0;
        text-align: left;
    }
    
    .single .byline, 
    .single .posted-on, 
    .single .comments-link,
    .single .author,
    .single .mobile-hide {
        display: inline;
        margin: 0;
    }
}


/* Image and blockquote alignments */
@media screen and (min-width: 1320px) {
    .alignright { margin-right: -160px; }
    .alignleft { margin-left: 0; }
}

@media screen and (min-width: 1820px) {
    .alignleft { margin-left: -160px; }
}